.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.card-header {
    background-color: rgba(127, 255, 212, 0.301);
}

.card-footer {
    background-color: rgba(127, 255, 212, 0.301);
}

.card-body {
    background-color: rgba(207, 221, 14, 0.151);
}

#btnRetry {
    text-decoration: none;
    color: rgb(37, 2, 194);
}

#btnRetry:hover {
    color: rgb(255, 18, 1);
    font-weight: bold;
}